{% extends "navbar.html" %}
{% block content %}

<br><br><br><br>

<p style = "margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px" class="text-justify">Are you doing an academic project which requires skill from areas other than yours. Are you looking for interns?<br><br>
This place is for you!!
<br>
<br>
We provide profiles of all the people from different departments.You can browse through this website and contact anyone whom you think is the rght person for your project.
<br><br>
All at once place. G0 AHEAD!!

</p>
{% endblock %}
