<!--Author: Ankita-->
{% extends "navbar.html" %}
{% block content %}

<div class="container">

    <p>
    <br><br>
        <H1>About Us</H1><br><i>
    Welcome to the SkillSearch wiki!<br><br>
    The purpose of this project is to create a web application for Faculty members, students and researchers from various universities to search students with a particular skill.
    <br><br>
    This web application maintains a database of students with their skillset information and also how good they are at each skill. It has an in-built module to evaluate the students skill in any particular skill (like Java). Whenever a student adds a skill, he can use this module to give a test and get a score on a scale of 10.

    </i>
    </p>

</div>
{% endblock %}
