<!--Author: Vigneshwar-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Questions</h1>
              <form id="qn-form" action="\evaltest" method="post">
                  <div class="question">
                      {% for item in qItems %}
                            {{item.qno}} {{item.qn}} <br>
                                  <input type="radio" name="{{item.qno}}" id="opt1" value="opt1"> {{item.opt1}}<br>
                                  <input type="radio" name="{{item.qno}}" id="opt2" value="opt2"> {{item.opt2}}<br>
                                  <input type="radio" name="{{item.qno}}" id="opt3" value="opt3"> {{item.opt3}}<br>
                                  <input type="radio" name="{{item.qno}}" id="opt4" value="opt4"> {{item.opt4}}<br>
                      {% endfor %}
                  </div>
                  <input type="hidden" name="skillName" value="{{sk}}">
                  <input type="hidden" name="skillCount" value="{{qnCount}}">
                  <button type="submit" >Submit</button>
              </form>
            <br>
    </div>
</body>
</html>