{% extends "base.html" %}
{% block content %}

<h1>Search people</h1>
<h2>Select a skill and click search to get a list of matching people.</h2>

<div class="container page-form">
    <form id="login-form" action="/skilledpeople" method="post">
        <div class="form-group">
            <label for="Skill">Skill</label>
            <input type="text" id="Skill" class="form-control" name="Skill">
        <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<div class="container">
    <h2>{{msg}}</h2>
    {% for p in results %}
        <h3>{{ p }}</h3>
        <hr>
    {% endfor %}
</div>

{% endblock %}